name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.5.0
        args: --timeout=5m

    - name: Unit Test and Coverage
      run: go test -covermode=count -coverprofile cover.out -coverpkg=./config,./internal/...,./linter ./...

    - name: Coveralls
      continue-on-error: true
      uses: coverallsapp/github-action@v2
      with:
        file: cover.out
        flag-name: Unit
        format: golang

    # make sure we can build the cli
    - name: Build
      run: |
        make build
        git diff --exit-code

  functional-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: CLI Test
        run: make test-cli
