name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.56.1
        skip-go-installation: true
        skip-pkg-cache: true
        args: --timeout=5m

    - name: Build
      run: make

    - name: Test
      run: go test -covermode=count -coverprofile cover.out ./...

    - uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: cover.out

    - name: Functional Test
      run: make test
